 Debugging parameters
 unit nb events  lvl  lvl  lvl  lvl  lvl  lvl  lvl  lvl  lvl  lvl
   70         1    0    1    0    0    0    0    0    0    0    0
    CDSURV    CDNSTP
         0      2000
    MAXLAY    MAXSEC            Processing parameters
         3         0
    PULTH1    PULTH2    PULTH3    PULMAX    PULWEI ===== PULS parameters
         5        10        10        10      1.20
         3        10        10        20      1.20
    CDLTOL     10.00    - delay line
    CDINFM         2    - Number of missing wires
    CDMXPH    0.0200    - Maximum phi diff in a segment
    CDTRTO    0.1000    - road width for segments
    CDMXCH    5.0000    - Maximum chisq/degf
    CDMINL         3    - minimum number of layers
    CDTDPH  0.050000    - delta phi between layers
    CDTDIS    0.3000    - distance between layers 
    CDTCH2   10.0000    - Maximum chisq/degf in R-phi
 Histogram   valide|    nbins|     low |    high | 
         1         0   100.000     1.000  2001.000 
         2         0   100.000     1.000  1001.000 
         3         0    10.000     1.000   101.000 
         4         0   100.000     1.000   301.000 
         5         0    20.000    -1.500    18.500 
         6         0    20.000    -1.500    18.500 
         7         0   100.000   -50.000    50.000 
         8         0   100.000   -50.000    50.000 
